* {
    margin: 0;
}

#conteudo {
    background-color: red;
    padding: 10%;
}

p {
    font-size: 40px;
    color: aliceblue;
    text-decoration: underline;
    margin: 10px;
    margin-left: 0; font-family:arial;
}

#calcular {
    display: block;
    margin: 10px;
    margin-left: 0;
}